<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oop -->
      <package
            uri="http://www.yazgel.org/oop/Oop"
            class="org.yazgel.oop.OopPackage"
            genModel="model/oop.genmodel"/>
   </extension>

</plugin>
